interactions:
- request:
    body: "--83d0e0ce58b87a8a10d69f9078a43e83\r\nContent-Disposition: form-data; name=\"action-xmlagentxmlfile\";
      filename=\"invoice.xml\"\r\nContent-Type: multipart/form-data\r\n\r\n<?xml version='1.0'
      encoding='UTF-8'?>\n<xmlszamla xmlns=\"http://www.szamlazz.hu/xmlszamla\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      xsi:schemaLocation=\"http://www.szamlazz.hu/xmlszamla https://www.szamlazz.hu/szamla/docs/xsds/agent/xmlszamla.xsd\">\n
      \ <beallitasok>\n    <szamlaagentkulcs>na8h9dppztnbnyyczqspztnbnqe3ym9pztnbnzqcsk</szamlaagentkulcs>\n
      \   <eszamla>true</eszamla>\n    <kulcstartojelszo></kulcstartojelszo>\n    <szamlaLetoltes>false</szamlaLetoltes>\n
      \   <valaszVerzio>2</valaszVerzio>\n  </beallitasok>\n  <fejlec>\n    <keltDatum>2020-05-08</keltDatum>\n
      \   <teljesitesDatum>2020-05-08</teljesitesDatum>\n    <fizetesiHataridoDatum>2020-05-08</fizetesiHataridoDatum>\n
      \   <fizmod>bankk\xE1rtya</fizmod>\n    <penznem>HUF</penznem>\n    <szamlaNyelve>hu</szamlaNyelve>\n
      \   <megjegyzes></megjegyzes>\n    <arfolyamBank></arfolyamBank>\n    <arfolyam>0</arfolyam>\n
      \   <rendelesSzam></rendelesSzam>\n    <dijbekeroSzamlaszam></dijbekeroSzamlaszam>\n
      \   <elolegszamla>false</elolegszamla>\n    <vegszamla>false</vegszamla>\n    <helyesbitoszamla>false</helyesbitoszamla>\n
      \   <helyesbitettSzamlaszam></helyesbitettSzamlaszam>\n    <dijbekero>false</dijbekero>\n
      \   <szamlaszamElotag>TSZTP</szamlaszamElotag>\n  </fejlec>\n  <elado>\n    <bank></bank>\n
      \   <bankszamlaszam></bankszamlaszam>\n    <emailReplyto></emailReplyto>\n    <emailTargy></emailTargy>\n
      \   <emailSzoveg></emailSzoveg>\n  </elado>\n  <vevo>\n    <nev>Test Company</nev>\n
      \   <irsz>1234</irsz>\n    <telepules>Budapest</telepules>\n    <cim>Fake street
      13</cim>\n    <email></email>\n    <sendEmail>true</sendEmail>\n    <adoszam></adoszam>\n
      \   <postazasiNev></postazasiNev>\n    <postazasiIrsz></postazasiIrsz>\n    <postazasiTelepules></postazasiTelepules>\n
      \   <postazasiCim></postazasiCim>\n    <azonosito></azonosito>\n    <telefonszam></telefonszam>\n
      \   <megjegyzes></megjegyzes>\n  </vevo>\n  <tetelek>\n    <tetel>\n      <megnevezes>NORMAL_EXAM</megnevezes>\n
      \     <mennyiseg>1</mennyiseg>\n      <mennyisegiEgyseg>db</mennyisegiEgyseg>\n
      \     <nettoEgysegar>21251.96850393701</nettoEgysegar>\n      <afakulcs>27</afakulcs>\n
      \     <nettoErtek>21251.96850393701</nettoErtek>\n      <afaErtek>5738.031496062991</afaErtek>\n
      \     <bruttoErtek>26990</bruttoErtek>\n      <megjegyzes></megjegyzes>\n    </tetel>\n
      \ </tetelek>\n</xmlszamla>\n\r\n--83d0e0ce58b87a8a10d69f9078a43e83--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=83d0e0ce58b87a8a10d69f9078a43e83
    method: POST
    uri: https://www.szamlazz.hu/szamla/
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <xmlszamlavalasz xmlns="http://www.szamlazz.hu/xmlszamlavalasz" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

        <sikeres>true</sikeres>

        <szamlaszam>E-TSZTP-2020-73</szamlaszam>

        <szamlanetto>21252</szamlanetto>

        <szamlabrutto>26990</szamlabrutto>

        <kintlevoseg>26990</kintlevoseg>

        <vevoifiokurl><![CDATA[https://www.szamlazz.hu/szamla/?page=vevoifiokpay&partguid=7wn8znsytbchs98rn3sytbchqtinkusytbch&szfejguid=piueu5syvne9did2u7syvne9]]></vevoifiokurl>

        </xmlszamlavalasz>

        '
    headers:
      Content-Disposition:
      - attachment; filename=72807_E-TSZTP-2020-73_r6bhhs7sr86ytxv6fa6dvipd.xml
      Content-Type:
      - application/octet-stream
      szlahu_bruttovegosszeg:
      - '26990'
      szlahu_kintlevoseg:
      - '26990'
      szlahu_nettovegosszeg:
      - '21252'
      szlahu_szamlaszam:
      - E-TSZTP-2020-73
      szlahu_vevoifiokurl:
      - https%3A%2F%2Fwww.szamlazz.hu%2Fszamla%2F%3Fpage%3Dvevoifiokpay%26partguid%3D7wn8znsytbchs98rn3sytbchqtinkusytbch%26szfejguid%3Dpiueu5syvne9did2u7syvne9
    status:
      code: 200
      message: '200'
version: 1
