.ViewContainer
    display: flex
    justify-content: center

    .View
        max-width: 560px
        width: 100%
        padding: $space-size

.CenterText
    text-align: center

.InputGroup
    margin-bottom: $space-size

.Label
    display: block

    &.Inline
        display: inline

.Input
    border: 1px solid black
    width: 100%

    &.Inline
        width: auto