.ViewContainer
    display: flex
    justify-content: center

    .View
        max-width: 560px
        width: 100%
        padding: $space-size
        display: flex
        flex-direction: column

.HighlightText
    background: $light-blue
    color: $blue
    padding: $space-size
    font-weight: bold
    border-radius: $space-size
    text-align: center
    width: 80%

.CenterText
    text-align: center

.Form
    display: flex
    flex-direction: column
    align-items: center

.InputGroup
    margin-bottom: $space-size
    width: 100%

.Label
    display: block

    &.Inline
        display: inline

.Input
    border: 1px solid black
    width: 100%

    &.Inline
        width: auto

.Button
    background: $blue
    color: white
    border-radius: $space-size
    width: 80%
    padding: $space-size
    display: block
    text-align: center
    border: 1px solid $blue
    margin-bottom: $space-size

    &.Inverse
        color: $blue
        background: white

    &.Disabled
        background: $light-gray
        color: $dark-gray
        border-color: $dark-gray

.ToCenter
    align-self: center

.ImageContainer
    display: flex
    justify-content: center

.Hidden
    display: none

.DataRow
    display: flex
    justify-content: space-between

.Caption
    color: $caption-color

.Text
    &.Light
        color: $dark-gray
    &.Strong
        color: $dark-blue